@charset "UTF-8";
/* Todas as demais Mídias */

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px

Grandes teles: acima de 1200px

*/

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    main {
        border: 2px solid black;
    }
    
    main h1 {
        text-shadow: none;
        color: black;
    }
    
    img#pc { display: none;}
    img#print { display: block;}
    img#tv { display: none;}
    img#phone { display: none;}
    img#tablet { display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#pc { display: none;}
    img#print { display: none;}
    img#tv { display: none;}
    img#phone { display: none;}
    img#tablet { display: block;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#pc { display: block;}
    img#print { display: none;}
    img#tv { display: none;}
    img#phone { display: none;}
    img#tablet { display: none;}
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#pc { display: none;}
    img#print { display: none;}
    img#tv { display: block;}
    img#phone { display: none;}
    img#tablet { display: none;}
}