@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

header h1{
    color: white;
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
}

nav {
    color: white;
}